.App{
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

#title{
  margin: 20px 0 60px 0;

}

.input_div{
  width: 100%;
  height: 60px;
  background-color: #bed2ff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

input{
  height: 35px;
  width: 150px;
  border: 1px solid #000;
  outline: none;
  padding: 0 5px;
  margin:  0 10px;
}

button{
  height: 35px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: large;
  background-color: #ffd400;
  outline: none;
}

.button_style_1{
  background-color: #58f546;
  border-color: #58f546;
}

button:active{
  background-color: #ffe876;
  border-color: #ffe876;
}


.message{
  margin: 10px 0 0 0;
}


.content{
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}


.display_bar{
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.node{
  height: 70px;
  width: 60px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
}

.left_operand_node{
  background-color:  rgb(12, 222, 233);
  border: 1px solid rgb(12, 222, 233);
}

.right_operand_node{
  background-color:  rgb(233, 163, 12);
  border: 1px solid rgb(233, 163, 12);
}

.selected_node{
  background-color:  rgb(23, 233, 12);
  border: 1px solid rgb(23, 233, 12);
}

.ignored_node{
  background-color:  #000000;
  border: 1px solid #000000;
}


.negative_node{
  background-color:  #b63131;
  border: 1px solid #b63131;
}


.number{
  font-size: x-large;
}